<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en">
<head>
    <link rel = "stylesheet" type ="text/css" href="../static/function.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>功能界面</title>
</head>
<body>
<div class="header">
    <p>一个面向DFD分析的数据字典小工具</p>
</div>
<div class="content">
    <div class="managePanel">
        <div class="projectPanel">
            <div class="stitle">项目管理面板</div>
        </div>
        <div class="tablePanel">
            <div class="stitle">表管理面板</div>

        </div>
    </div>
    <div class="formPanel">
        <div class="stitle">表单管理面板</div>

    </div>
    <div class="visualPanel">
        <div class="canvas">
            <div class="stitle">可视化界面</div>

        </div>
        <div class="toolkit">
            <div class="stitle">可视化工具面板</div>

        </div>
    </div>
</div>
<div class="footer">
    <p>Copyright 2019@Jess ZHENG</p>
</div>
</body>
</html>